.cards {
  margin: 10px;
  background: #fff;
  display: right;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  height: 100%;

}

.border-bottom {
  border-bottom: 2px solid #0000001f!important;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  padding: 0;
}

h1 {
  text-align: left;
  font-family: Nunito Sans, sans-serif!important;
  color: #6c7784;
  line-height: 1em;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .25px!important;
  margin-bottom: 20px;
}

h3 {
  text-align: left;
  font-family: Nunito Sans, sans-serif!important;
  color: #6c7784;
  line-height: 1em;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .25px!important;
}

h5 {
  text-align: left;
  font-family: Nunito Sans, sans-serif!important;
  color: #6c7784;
  line-height: 1em;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .25px!important;

  margin-top: 15px;
  cursor: default;
}

h6 {
  text-align: left;
  font-family: Nunito Sans, sans-serif!important;
  color: black;
  line-height: 1em;
  font-size: .95rem;
  font-weight: 600;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .25px!important;

  margin: 0px;
}

h7 {
  text-align: left;
  font-family: Nunito Sans, sans-serif!important;
  color: #4c4c4c;
  line-height: 1em;
  font-size: .70rem;
  font-weight: 550;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .25px!important;

  margin: 0px;
}

h8 {
  text-align: left;
  font-family: Nunito Sans, sans-serif!important;
  color: black;
  line-height: 1em;
  font-size: .95rem;
  font-weight: 600;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .25px!important;

  margin-top: 25px;
  margin-left: 5px;
}

h9 {
  text-align: center;
  font-family: Nunito Sans, sans-serif!important;
  color: #4c4c4c;
  line-height: 1em;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .25px!important;

  padding-left: 30px;

}

body {
 margin-top: 10px;
 margin-right: 5px;
 margin-left: 5px;
 margin-bottom: 10px;

}

p {
  display: left;
  justify-content: left!important;
  flex-direction: column;
  align-items: left;
  font-family: Nunito Sans, sans-serif!important;
  color: #6c7784;
  line-height: 1em;
  font-size: .9rem;
  font-weight: 450;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .25px!important;
}

p1 {
  margin-left: 10px;
  margin-top: 15px;
  font-family: Nunito Sans, sans-serif!important;
  color: #6c7784;
  line-height: 1em;
  font-size: .9rem;
  font-weight: 450;

  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .25px!important;
}

p2 {
  margin: 10px;

}

.a1 {
  font-family: Nunito Sans, sans-serif!important;
  color: #212529;
  line-height: 1em;
  font-size: .9rem;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .25px!important;
}

.a1:hover {
  cursor: pointer;
  color: #742f7c!important;
  font-family: Nunito Sans, sans-serif!important;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .25px!important;
}

ul {
 margin-bottom: 30px;

}

available, .available {
  display: flex;
  flex-flow: row;
  text-align: left;
  flex-direction: row;

  align-self: baseline;
}

.cards__container {
  display: flex;
  flex-flow: row;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;

  justify-content: space-between;
  flex-direction: row;
  display: flex;
}

.card-item {
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 5px;
  padding-right: 5px;
  padding-top: 5px;
  place-content: left;
  padding-left: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;

  height: 125px;
  width: 80%;

  background: white;
  border-radius: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px #0000000f, 0 2px 4px #00000014;

  font-family: Nunito Sans, sans-serif!important;
  color: #363522;
  -webkit-font-smoothing: antialiased;
}

.left-body {
  width: 100px;
  padding-top: 0px;
  margin-top: 0px;
}

.card-button {
  justify-content: right!important;
  align-self: flex-start;
  height: 30px;
  padding: 5px;
}

.card-button:hover {
  justify-content: right!important;
  cursor: pointer;
}

button3 { /*Invalid Refill*/
  align-self: flex-start;
  line-height: 25px;

  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 0px;

  padding-top: 6px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 2px;

  width: 85px;
  text-align: center;
  cursor: default;

  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.5px;
  background-color: #c7abca;
  color: white;
  border: none;
  border-radius: .5rem;
}

button1 { /* Valid Renew */
  align-self: flex-start;
  line-height: 25px!important;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 10px;

  padding-right: 17px;
  padding-left: 17px;
  padding-top: 9px;
  padding-bottom: 8px;

  width: 85px;
  text-align: center;
  cursor: pointer;

  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.5px;
  background-color: #742F7C;
  color: white;
  border: none;
  border-radius: .5rem;
}

button2 { /* InValid Refill */
  align-self: flex-start;
  line-height: 25px;

  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 3px;

  padding-right: 17px;
  padding-left: 17px;
  padding-top: 5px;
  padding-bottom: 2px;

  width: 85px;
  text-align: center;

  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -.5px;
  background-color: #c7abca;
  color: white;
  border: none;
  border-radius: .5rem;
}

button4 { /* Cancel  */
  display: baseline;
  line-height: 25px;

  margin-top: 15px!important;
  margin-bottom: 5px;
  margin-left: 5px;

  padding-right: 17px;
  padding-left: 17px;
  padding-top: 5px;
  padding-bottom: 5px;

  width: 85px;
  text-align: center;
  cursor: pointer;

  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -.5px;
  background-color: #742F7C;
  color: white;
  border: none;
  border-radius: .5rem;

  position: absolute;
  left: 30px;
  top: 120px;
}

button5 { /* Ok button */
  align-self: flex-start;
  line-height: 25px;

  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 5px;

  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;

  width: auto;
  text-align: center;
  cursor: pointer;

  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -.5px;
  background-color: white;
  color: #363522;
  border: 1px solid #742F7C;
  border-radius: .5rem;
}

button6 { /* Invalid Renew */
  align-self: flex-start;
  line-height: 25px!important;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 5px;

  padding-right: 17px;
  padding-left: 17px;
  padding-top: 9px;
  padding-bottom: 8px;

  width: 85px;
  text-align: center;
  cursor: default;

  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.5px;
  background-color: #c7abca;
  color: white;
  border: none;
  border-radius: .5rem;
}

button7 {
  align-self: flex-start;
  line-height: 25px;

  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 3px;

  padding-right: 17px;
  padding-left: 17px;
  padding-top: 5px;
  padding-bottom: 1px;

  width: 85px;
  text-align: center;
  cursor: pointer;

  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -.5px;
  background-color: #742F7C;
  color: white;
  border: none;
  border-radius: .5rem;
}

button8 { /* Yes Button */
  line-height: 25px;

  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 15px;

  padding-right: 25px;
  padding-left: 25px;
  padding-top: 4px;
  padding-bottom: 4px;

  width: auto;
  text-align: center;
  cursor: pointer;

  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -.5px;
  background-color: white;
  color: #363522;
  border: 1px solid #742F7C;
  border-radius: .5rem;

  position: absolute;
  left: 130px;
  top: 120px;
}

button10 { /* Message Prescriber */
  align-self: flex-start;
  line-height: 25px!important;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 5px;

  padding-right: 17px;
  padding-left: 17px;
  padding-top: 9px;
  padding-bottom: 8px;

  width: 85px;
  text-align: center;
  cursor: pointer;

  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.5px;
  background-color: #742F7C;
  color: white;
  border: none;
  border-radius: .5rem;
}

button11 { /* Invalid Renew Info Box*/
  align-self: flex-start;
  line-height: 25px!important;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 5px;

  padding-right: 17px;
  padding-left: 17px;
  padding-top: 9px;
  padding-bottom: 8px;

  width: 85px;
  text-align: center;
  cursor: default;

  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.5px;
  background-color: #c7abca;
  color: white;
  border: none;
  border-radius: .5rem;
}

button12 { /* Pharma Cancel */
  display: baseline;
  line-height: 25px;

  margin-top: 15px!important;
  margin-bottom: 5px;
  margin-left: 5px;

  padding-right: 17px;
  padding-left: 17px;
  padding-top: 5px;
  padding-bottom: 5px;

  width: 85px;
  text-align: center;
  cursor: pointer;

  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -.5px;
  background-color: #742F7C;
  color: white;
  border: none;
  border-radius: .5rem;

  position: absolute;
  left: 15px;
  top: 205px;
}

button13 { /* Pharma Continue */
  line-height: 25px;

  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 15px;

  padding-right: 25px;
  padding-left: 25px;
  padding-top: 4px;
  padding-bottom: 4px;

  width: auto;
  text-align: center;
  cursor: pointer;

  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -.5px;
  background-color: white;
  color: #363522;
  border: 1px solid #742F7C;
  border-radius: .5rem;

  position: absolute;
  left: 110px;
  top: 205px;
}

Select {
  border-color: #742F7C;
  background-color: #742F7C;
  box-shadow: #742F7C;
}

.pharm-dropdown {
  line-height: 25px;

  background-color: white;
  color: #363522;
  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -.5px;
  border: 1px solid #742F7C;
  border-radius: .5rem;
}

.css-qbdosj-Input {
  line-height: 25px;
  border-color: #742F7C;
  box-shadow: #742F7C;
}

.css-13cymwt-control {
  border-color: #742F7C;
  background-color: #742F7C;
  box-shadow: #742F7C;
}

.css-t3ipsp-control {
  border-color: #742F7C!important;
  background-color: #742F7C;
  box-shadow: #742F7C!important;
}

.li40-img {
  justify-content: left!important;
  height: 50px;
  width: 90px;
  padding-top: 5px;
  padding-right: 5px;

  margin-bottom: 33px;

  flex-direction: row;
  display: flex;
}

.li40-more-info {
  height: 70px;
  width: 120px;

  padding-left: 5px;
  margin-top: 0px;
  margin-right: 0px;
  padding-right: 5px;

  position: absolute;
  left: 20px;
  top: 50px;
}

.odan4mg-more-info {
  height: 70px;
  width: 120px;

  padding-left: 5px;
  margin-top: 0px;
  margin-right: 0px;
  padding-right: 5px;

  position: absolute;
  left: 20px;
  top: 50px;
}

.tac01-more-info {
  height: 60px;
  width: 150px;

  padding-left: 5px;
  margin-top: 0px;
  margin-right: 0px;
  padding-right: 5px;

  position: absolute;
  left: 20px;
  top: 50px;
}

.flo50mcg {
  justify-content: left!important;
  height: 50px;
  width: 90px;
  padding-top: 5px;
  padding-right: 5px;
  flex-direction: row;
  display: flex;
}

.odan4mg-img {
  justify-content: left!important;
  height: 50px;
  width: 80px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;

  margin-bottom: 32px;

  flex-direction: row;
  display: flex;
}

.tac01-img {
  justify-content: left!important;
  height: 50px;
  width: 90px;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 24px;
  flex-direction: row;
  display: flex;
}

.tac01-info {
  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -.5px;
  background-color: #c7abca;
  color: white;
  border: none;
  border-radius: .5rem;
}

.pharmacy-info {
  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  padding-left: 0px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -.5px;
  background-color: white;
  color:#363522;
  border: none;

  position: absolute;
  left: 15px;
  top: 10px;
}

.pharm-header {
  align-self: row;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.refill-header, refill-header {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;

  position: flex;
  top: 0px;
}

.dropdown-toggle, .btn-primary, btn-primary {
  background-color: white;
  color: #363522;
  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -.5px;
  border: 1px solid #742F7C;
  border-radius: .5rem;

  margin-left: 5px;
  align-self: flex-end;
}

.dropdown {
  margin-bottom: 15px;

}

.dropdown-toggle::after, .dropdown-toggle::before, .show {
  background-color: white;
  color: #363522;
  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -.5px;
}

.btn.show, .btn:hover, .dropdown-menu {
  background-color: white;
  color: #363522;
  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -.5px;
  border: 1px solid #742F7C;
  border-radius: .5rem;
}

.error-img {
  justify-content: left;
  flex-direction: row;
  display: flex;
  height: 40px;
  margin-right: 10px;
}

.warning-img {
  justify-content: left;
  flex-direction: row;
  display: flex;
  height: 45px;
  margin-right: 10px;
}

.green-img {
  justify-content: left;
  flex-direction: row;
  display: flex;
  height: 45px;
  margin-right: 10px;
  margin-left: 5px;
}

.mini-pill-img {
  position: absolute;
  left: 15px;
  top: 30px;

  display: flex;
  height: 45px;
  margin-right: 10px;
}

.mini-clock-img {
  position: absolute;
  left: 15px;
  top: 110px;

  display: flex;
  height: 45px;
  margin-right: 10px;
}

.mini-dr-img {
  position: absolute;
  left: 15px;
  top: 120;

  display: flex;
  height: 45px;
  margin-right: 10px;
}

.headers {
  flex-direction: row;
  display: flex;
  margin-top: 40px;
}

.headers-first {
  flex-direction: row;
  display: flex;
  margin-top: 0px;
}

.card-tittle {
  padding-top: 10px;
  margin: 0px;
  padding-bottom: 0px;
  justify-content: left!important;
  flex-direction: row;
  display: flex;
  height: 25px;
}

.home-tittle {
  margin-top: 5px;

}

.card-body {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  justify-content: left!important;
  flex-direction: column!important;
  display: flex;
}

.small-info {
  margin-top: 2.5px;
  align-items: center;
  padding-left: 2px;
  height: 14px;

  font-family: Nunito Sans, sans-serif!important;
  color: #6c7784;
  -webkit-font-smoothing: antialiased;
}

.more-info-header {
  margin-top: 25px;
  margin-left: 5px;

  padding-top: 10px;
  padding-left: 5px;

  align-self: left;

  position: absolute;
  top: 125px;
  left: 10px;
}

.more-info-dose {
  padding-left: 5px;
  padding-top: 0px;
  margin-left: 5px;
  margin-top: 45px;

  position: absolute;
  top: 135px;
  left: 10px;
}

.more-info-about {
}

.more-info-minis-container {
  position: absolute;
  top: 200px;
  left: 10px;

  padding-right: 10px;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.more-info-minis {
  margin: 5px;
  margin-top: 10px;

  justify-content: column!important;

}

.more-info-mini {

  line-height: 25px!important;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 10px;

  padding-right: 18px;
  padding-left: 60px;
  padding-top: 9px;
  padding-bottom: 5px;

  width: 100%;
  height: 100%;

  text-align: left;
  cursor: default;

  font-family: Nunito Sans,sans-serif!important;
  margin-bottom: .35em;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.5px;
  background-color: #f0f3f4;
  color: white;
  border: none;
  border-radius: .5rem;
}

.popup-container-more-info {
  height: 700px;
  width: 450px;

  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;

  justify-content: left!important;
  flex-direction: column!important;
  display: flex;

  overflow: auto;
  zIndex: 1000;
  padding-right: 5px;
}

div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #f8fbff;
  border-radius: 5px;
}

div::-webkit-scrollbar-thumb {
  background-color: #9fa9bd;
  border-radius: 5px;
}

div::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 5px;
}

.popup-container, popup-container {
  display: flex;
  margin: 10px;
  height: auto;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 55%;
  height: auto;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 110px;
  overflow: auto;
  zIndex: 1000;

  justify-content: center;
  align-items: center;

  background: white;
  border-radius: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px #0000000f, 0 2px 4px #00000014;

  font-family: Nunito Sans, sans-serif!important;
  color: #363522;
  -webkit-font-smoothing: antialiased;
}

.popup-arrow {
  color: rgb(255, 255, 255);

}

[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);


}

[data-popup='tooltip'].popup-overlay {
  filter: blur(8px);

}

.button-spacing, button-spacing {
  justify-content: column!important;
  margin-top: 115px;
}

.req-sent {

}

.req-success {

}

.req-img {

  flex-direction: row;
  display: flex!important;
  height: 150px;

  margin-bottom: 40px;
  padding-bottom: 10px;
  padding-left: 200px;
  margin-top: 10px;
}